<h2 class="page-header">Dashboard</h2>




<div class="row">
  <div class="col-md-2">
    <img src="/assets/png/id-card.png" class="img-thumbnail" alt="Analytics">
  </div>
  <div class="col-md-2">
    <img src="/assets/png/curriculum.png" class="img-thumbnail" alt="">
  </div>
  <div class="col-md-2">
    <img src="/assets/png/certificate.png" class="img-thumbnail" alt="">
  </div>
  <div class="col-md-2">
    <img src="/assets/png/folder.png" class="img-thumbnail" alt="Analytics">
  </div>
  <div class="col-md-2">
    <img src="/assets/png/chat.png" class="img-thumbnail" alt="">
  </div>
  <div class="col-md-2">
    <img src="/assets/png/contract.png" class="img-thumbnail" alt="">
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <img src="/assets/png/chat-1.png" class="img-thumbnail" alt="Analytics">
  </div>
  <div class="col-md-2">
    <img src="/assets/png/businessmen.png" class="img-thumbnail" alt="">
  </div>
  <div class="col-md-2">
    <img src="/assets/png/handshake.png" class="img-thumbnail" alt="">
  </div>
  <div class="col-md-2">
    <img src="/assets/png/hierarchy-1.png" class="img-thumbnail" alt="Analytics">
  </div>
  <div class="col-md-2">
    <img src="/assets/png/archives.png" class="img-thumbnail" alt="">
  </div>
  <div class="col-md-2">
    <img src="/assets/png/laptop.png" class="img-thumbnail" alt="">
  </div>
</div>
